@import url('https://fonts.googleapis.com/css2?family=Poppins');
   /* Globally Accessible */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url('https://th.bing.com/th/id/R.0b7a1ee1ab32559af88c9734bfc92bf2?rik=R8iePCISTtOLhA&pid=ImgRaw&r=0');
   
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
a{
    text-decoration: none;
}
.header-content{
    margin-bottom: 200px;
    text-align: center;
    color: rgba(201, 122, 19, 0.993);
    align-items: center;


}
.header-content h1{
    font-size: 10vmin;
    margin-top: 20px 50px;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 17px;
    height: 10vmin;
}

.header-content h2{
    font-size: 7vmin;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 17px;
    width: 100%;
    height: 11vmin;
    align-items: center;

}

.line{
    background: red;
    height: 6px;
    width: 200px;
    margin: 10px auto;
}
.ctn{
    background: rgb(0, 140, 255);
    padding: 8px 17px;
    border-radius: 25px;
    color: whitesmoke;
    margin: 0 40px;
}
.navbar{
    padding: 24px;
    margin-left: 10px;
    top: 0;
    background-color: yellowgreen;
    width: 100%;
    position: absolute;
    display: flex;
   
}

ul{
    list-style: none;
}
.nav-links{
    padding: 10px;
    color: aquamarine;
    font-size: large;
    font-style: italic;
    display: flex;
    align-items: center;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

   
}
.nav-links li{
    margin: 0 10px;
}
.active{
    color: blue;
    text-decoration: underline;
    font-weight: bold;
}

body,html{
    overflow-x: hidden;
    
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 6vh;
    cursor: pointer;
    
}


/*Events*/

.section{
    margin: 100px auto;
    width: 70%;
    
}
.title{
    text-align: center;
    font-size: 4vmin;
    color: purple;
}

.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background: whitesmoke;
    background-size: cover;
    

}
.row.col {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.events.row{
    margin-top: 45px;

}
h4{
    color: aqua;
    margin: 20px auto;
    font-size: 3vmin;
}
.ctn{
    margin: 20px auto;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    color:black;
    margin-left: 14px;  
}
p{
    color: olive;
    padding: 0px 20px;
}
.first{
    background-color: brown;
    width: 100%;
    border-radius: 35px;
    
}
.second{
    background-color: black;
    width: 100%;
    border-radius: 35px;
}
.events img{
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    height: auto;
    width: auto;
}

.explore{
    width: 100%;
    height: 67vh;
    background-image: url("https://i.ibb.co/GRkwHkx/Whats-App-Image-2023-03-16-at-13-49-17.jpg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.explore-content{
    width: 80%;
    padding: 10px;
    color: crimson;
    
    align-items: center;
}
.events.row.col img{
    margin: 0;
}
.explore-content h1{
    font-size: 6vmin;
    margin: 20px;
}
p1{
    color: rgb(32, 32, 31);
}
.ctb{
    width: 25%;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    border-radius: 19px;
    color: black;
    margin-left: 14px;  
    background-color:aqua ;
    
    
}
.explore-content .line{
    margin: 34px;
}

.tours.row.col{
    width: 50%;
   
}
.tours .image-gallary{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    

}
.image-gallary img{
    max-width: 300px;
    margin: 10px;
    
    
}
.content-col{
    width: 59%;

}
.content-col h1{
    font-size: 7vmin;
    color: gray;
    display: flex;
    margin-left: 17px;

}
.content-col .line{
    margin-left: -2px;
}
.content-col p{
    padding: 0;
    margin: 40px auto;
    margin-left: 10px;

}
.content-col ctn{
    margin-left: -100px;

}
.image-col{
    width: 65%;
}
.footer{
    display: flex;
    width: 100%;
    min-height: 70px;
    padding: 20px 100px;
    margin: 0;
    background: gray;
    text-align: center;

}
.footer p{
    color: black;
    background-size: cover;
    margin: 10px auto;

}
/* Make it responsive while using at low screen width */
@media only screen and (max-width:800px) {
    .navbar{
        padding: 0;
        background: gray;
        width: 100%;
    }
    .logo{
        position: absolute;
        top: 20px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
        background: grey;
        

    }
    .nav-links li{
        margin: 30px auto;
    }

    /*Making Event section responsive*/
    .row{
        flex-direction: column;
    } 
    .col img{
        max-width: 90%;
    }

    .row .col{
        margin: 20px auto;
    }

    /*Explore section making it responsive*/
    .explore-content{
        width: 100%;
    }
    .tours.row{
        width: 100%;
    }
    .image-gallary{
        justify-content: center;
        align-items: center;

    }
    .image-gallary img{
        width: 97%;

    }
    .footer{
        padding: 10px;
    }

}
/* Make it responsive while using at low screen width ends here */

/* Animations */

img {
    transition: transform 0.3ms ease;
}
img:hover{
    transform: scale(1,1);
}
.ctn:hover{
    
    background-color: purple;
    color: whitesmoke;
    box-shadow: 5px 5px 8px black;
}
.ctb:hover{
    background-color: yellowgreen;
    color: blue;
    box-shadow: 5px 5px 8px black;
}
.li:hover{
    background-color: yellowgreen;
    color: blue;
    box-shadow: 5px 5px 8px black;

}